<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <script type="text/javascript" src="./__PUBLIC__/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="./__PUBLIC__/js/common.js"></script>
    <script type="text/javascript" src="./__PUBLIC__/js/crud-enhance.js"></script>
    <link rel="stylesheet" href="./__PUBLIC__/elementui-vue/index.css" />
    <link rel="stylesheet" href="./__PUBLIC__/elementui-vue/public.css" />
    <script src="./__PUBLIC__/elementui-vue/vue.global.js"></script>
    <script src="./__PUBLIC__/elementui-vue/icons-vue.js"></script>
    <script src="./__PUBLIC__/elementui-vue/element-plus.js"></script>
    <script src="./__PUBLIC__/elementui-vue/zh-cn.js"></script>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data" id="uploadForm">
    <input style="display: none;" id="selectimginput" onchange="showPicImg(this.files);" name="file" type="file"/>
</form>
<form action="" method="post" enctype="multipart/form-data" id="uploadForm2">
    <input style="display: none;" id="selectimginput2" onchange="showPicImg2(this.files);" name="file" type="file"/>
</form>
<div id="app">
    <el-container>
        <el-header style="height: auto;">
            <div class="searchctn">
                <el-form :model="sobj" :inline="true" label-width="auto">
                    <el-form-item label="标题">
                        <el-input v-model="sobj.title" placeholder="模糊匹配" clearable style="width: 180px"></el-input>
                    </el-form-item>
                    <el-form-item label="店铺">
                        <el-input v-model="sobj.shop" placeholder="店铺名称" clearable style="width: 180px"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="refreshData">搜索</el-button>
                        <el-button type="success" @click="toReset">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </el-header>
        <el-main>
            <div class="datagridctn">
                <div class="tablectn">
                    <div class="tabletoolbarctn">
                        <el-button v-if="luser.roletype=='1'" type="danger" @click="showEdit(null)">新增</el-button>
                        <el-button v-if="luser.roletype=='1'" type="warning" :disabled="!selectedKeys.length" @click="batchDel">批量删除</el-button>
                        <el-button type="primary" :disabled="!dataSource.length" @click="exportCurrent">导出CSV</el-button>
                    </div>

                    <el-table stripe v-loading="loading" :data="dataSource" current-row-key="id" :highlight-current-row="true" :show-overflow-tooltip="true" style="width: 100%"
                              @selection-change="handleSelectionChange"
                              @sort-change="handleSortChange">
                        <el-table-column v-if="luser.roletype=='1'" type="selection" width="48" align="center"></el-table-column>
                        <el-table-column prop="id" sortable label="编号" width="100px" align="center"></el-table-column>
                        <el-table-column prop="title" sortable label="标题" min-width="140" align="center" show-overflow-tooltip></el-table-column>
                        <el-table-column prop="shop" sortable label="所属店铺" width="140" align="center" show-overflow-tooltip></el-table-column>
                        <el-table-column prop="note" label="详情" min-width="160" align="center" show-overflow-tooltip></el-table-column>
                        <el-table-column fixed="right" label="操作" width="260" align="center">
                            <template #default="scope">
                                <el-button link type="primary" size="small" @click="showEdit(scope.row)">查看</el-button>
                               <!-- <el-button link type="primary" size="small" @click="showStable(scope.row)">评论列表</el-button>-->
                                <el-button v-if="luser.roletype=='1'" link type="danger" size="small" @click="del(scope.row.id)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>

                <div class="paginationctn">
                    <el-pagination v-model:current-page="page.current" v-model:page-size="page.limit" :page-sizes="[100, 200, 300, 400]" layout="total, sizes, prev, pager, next, jumper" :total="page.total" @size-change="refreshData" @current-change="refreshData"></el-pagination>
                </div>
            </div>

            <div class="formdialog" v-show="showe">
                <div class="formdialogtitle">查看编辑<span class="formdialogtitlegb" @click="showe=false"></span></div>
                <el-form ref="fobjform1" :model="fobj" label-width="auto">
                    <el-form-item label="标题" prop="title" :rules="formRules">
                        <el-input type="text" v-model="fobj.title"></el-input>
                    </el-form-item>
                    <!--<el-form-item label="评分" prop="pf" :rules="formRules">
                        <el-input type="text" v-model="fobj.pf"></el-input>
                    </el-form-item>-->
                    <el-form-item v-if="luser.roletype=='1'" label="所属店铺" prop="sid">
                        <el-select v-model="fobj.sid" class="m-2" placeholder="请选择" size="large" style="width: 240px">
                            <el-option v-for="item in shoplist" :label="item.label" :value="item.value" ></el-option>
                        </el-select>
                    </el-form-item>



                    <!--<div style="text-align: center;margin-bottom: 20px;">
                        <div style="width: 150px;margin-left: 35%;">
                            <div style="text-align: center;">
                                <div style="text-align: center;" id="imgctn"></div>
                                <a href="#" onclick="getFileInput(this);">选择封面</a>
                            </div>
                        </div>
                    </div>-->
                    <el-form-item label="详情">
                        <div id="editor" style="width: 480px;height: 400px;">

                        </div>
                    </el-form-item>
                    <el-form-item style="text-align: center;margin-top: 50px;">
                        <el-button v-if="luser.roletype=='1'" type="success" @click="submit1">提交</el-button>
                        <el-button type="danger" @click="cancel">取消</el-button>
                    </el-form-item>
                </el-form>
            </div>

            <el-dialog v-model="showt" title="管理子列表" width="70%">
                <el-container>
                    <el-header style="height: auto;">
                        <div class="searchctn">
                            <el-form :model="sobj2" :inline="true" label-width="auto">
                                <el-form-item label="标题">
                                    <el-input v-model="sobj2.title" placeholder="子项关键词" clearable style="width: 200px"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="refreshData2">搜索</el-button>
                                    <el-button type="success" @click="toReset2">重置</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-header>
                    <el-main>
                        <div class="datagridctn">
                            <div class="tablectn">
                                <div class="tabletoolbarctn">
                                    <el-button type="danger" @click="showEdit2(null)">新增</el-button>
                                    <el-button type="warning" :disabled="!selectedKeys2.length" @click="batchDel2">批量删除</el-button>
                                    <el-button type="primary" :disabled="!dataSource2.length" @click="exportCurrent2">导出CSV</el-button>
                                </div>

                                <el-table stripe v-loading="loading2" :data="dataSource2" current-row-key="id" :highlight-current-row="true" :show-overflow-tooltip="true" style="width: 100%"
                                          @selection-change="handleSelectionChange2"
                                          @sort-change="handleSortChange2">
                                    <el-table-column type="selection" width="48" align="center"></el-table-column>
                                    <el-table-column prop="id" sortable label="编号" width="88" align="center"></el-table-column>
                                    <el-table-column prop="note" sortable label="内容" min-width="160" align="center" show-overflow-tooltip></el-table-column>
                                    <el-table-column prop="ndate" sortable label="日期" width="170" align="center"></el-table-column>
                                    <el-table-column prop="username" sortable label="用户" width="120" align="center"></el-table-column>
                                    <el-table-column fixed="right" label="操作" width="200" align="center">
                                        <template #default="scope">
                                            <el-button link type="primary" size="small" @click="showEdit2(scope.row)">查看编辑</el-button>
                                            <el-button link type="danger" size="small" @click="del2(scope.row.id)">删除</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </div>

                            <div class="paginationctn">
                                <el-pagination v-model:current-page="page2.current" v-model:page-size="page2.limit" :page-sizes="[100, 200, 300, 400]" layout="total, sizes, prev, pager, next, jumper" :total="page2.total" @size-change="refreshData2" @current-change="refreshData2"></el-pagination>
                            </div>
                        </div>
                        <div class="formdialog" v-show="showe2">
                            <div class="formdialogtitle">查看编辑<span class="formdialogtitlegb" @click="showe2=false"></span></div>
                            <el-form ref="fobjform2" :model="fobj2" label-width="auto">
                                <el-form-item label="内容" prop="note" :rules="formRules">
                                    <el-input type="textarea" v-model="fobj2.note"></el-input>
                                </el-form-item>
                                <!--<div style="text-align: center;margin-bottom: 20px;">
                                    <div style="width: 150px;margin-left: 35%;">
                                        <div style="text-align: center;">
                                            <div style="text-align: center;" id="imgctn2"></div>
                                            <a href="#" onclick="getFileInput2(this);">选择封面</a>
                                        </div>
                                    </div>
                                </div>
                                <el-form-item label="备注">
                                    <div id="editor2" style="width: 480px;height: 400px;">

                                    </div>
                                </el-form-item>-->
                                <el-form-item style="text-align: center;margin-top: 50px;">
                                    <el-button type="success" @click="submit2">提交</el-button>
                                    <el-button type="danger" @click="showe2=false">取消</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-main>
                    <el-footer></el-footer>
                </el-container>

            </el-dialog>

        </el-main>
        <el-footer></el-footer>
    </el-container>
</div>

</body>
<script>
    const App = {
        data() {
            return {
                formRules:[{required: true, message: '请检查输入...', trigger: 'blur'}],
                fileurl:fileurl,
                uploadUrl:uploadUrl,
                luser:{},
                typelist:[],
                subtypelist:[],
                shoplist:[],
                tbname:'sysmsg',
                showe:false,
                sobj:{},
                fobj:{
                    typeid:0,
                    ctypeid:0
                },
                page:{ current: 1, limit: 10, total: 100 },
                selectedKeys:[],
                loading:false,

                dataSource:[],


                tbname2:'replay',
                pobj:{},
                showt:false,
                showe2:false,
                sobj2:{},
                fobj2:{

                },
                page2:{ current: 1, limit: 10, total: 100 },
                selectedKeys2:[],
                loading2:false,

                dataSource2:[]
            };
        },
        mounted() {
            this.luser = userinfo
            this.refreshData()
            let ownid = null
            if(this.luser.roletype == '3'){
                ownid = this.luser.sid
            }


            ajaxCallback1("list",{table:'shop'},(data) => {
                for (let s of data) {
                    s.label=s.sname
                    s.value = s.id+""
                }
                this.shoplist = data
            })
        },
        methods: {
            handleSelectionChange(rows) {
                this.selectedKeys = (rows || []).map(function (r) { return r.id })
            },
            handleSelectionChange2(rows) {
                this.selectedKeys2 = (rows || []).map(function (r) { return r.id })
            },
            handleSortChange(obj) {
                if (!obj || !obj.prop) {
                    delete this.sobj.sort
                    delete this.sobj.order
                } else {
                    this.sobj.sort = obj.prop
                    this.sobj.order = obj.order === 'ascending' ? 'asc' : (obj.order === 'descending' ? 'desc' : null)
                }
                this.refreshData()
            },
            handleSortChange2(obj) {
                if (!obj || !obj.prop) {
                    delete this.sobj2.sort
                    delete this.sobj2.order
                } else {
                    this.sobj2.sort = obj.prop
                    this.sobj2.order = obj.order === 'ascending' ? 'asc' : (obj.order === 'descending' ? 'desc' : null)
                }
                this.refreshData2()
            },
            batchDel() {
                if (String(this.luser.roletype) !== '1') return
                if (!this.selectedKeys || !this.selectedKeys.length) {
                    ElementPlus.ElMessage.warning('请先勾选要删除的行')
                    return
                }
                var self = this
                ElementPlus.ElMessageBox.confirm('确认批量删除选中的 ' + this.selectedKeys.length + ' 条吗？', '提示', {
                    confirmButtonText: '确认',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function () {
                    CrudEnhance.batchDelete(self.tbname, self.selectedKeys, function () {
                        self.selectedKeys = []
                        self.refreshData()
                        ElementPlus.ElMessage.success('批量删除完成')
                    })
                }).catch(function () {})
            },
            batchDel2() {
                if (!this.selectedKeys2 || !this.selectedKeys2.length) {
                    ElementPlus.ElMessage.warning('请先勾选要删除的行')
                    return
                }
                var self = this
                ElementPlus.ElMessageBox.confirm('确认批量删除选中的 ' + this.selectedKeys2.length + ' 条子项吗？', '提示', {
                    confirmButtonText: '确认',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function () {
                    CrudEnhance.batchDelete(self.tbname2, self.selectedKeys2, function () {
                        self.selectedKeys2 = []
                        self.refreshData2()
                        ElementPlus.ElMessage.success('批量删除完成')
                    })
                }).catch(function () {})
            },
            exportCurrent() {
                CrudEnhance.exportCsv('系统消息_' + getNowDate() + '.csv', this.dataSource)
            },
            exportCurrent2() {
                CrudEnhance.exportCsv('系统消息子列表_' + getNowDate() + '.csv', this.dataSource2)
            },
            typeSelect(){
                ajaxCallback1("list",{table:'type2', pid: this.fobj.typeid, btype:1},(data) => {
                    for (let s of data) {
                        s.label=s.title
                        s.value = s.id
                    }
                    this.subtypelist = data
                    if(this.fobj.typeid && !this.fobj.ctypeid && data && data.length){
                        this.fobj.ctypeid = data[0].id
                    }
                })
            },
            toReset(){
                this.sobj = {}
                this.selectedKeys = []
                this.refreshData()
            },
            refreshData(){
                let s = this.sobj
                s.btype = 1
                s.table = this.tbname
                s.page = this.page.current
                s.limit = this.page.limit
                this.loading = true
                if(this.luser.roletype=='3'){
                    s.sid = this.luser.sid
                }
                ajaxCallback1('listPage',s,(r)=>{
                    this.loading = false
                    this.dataSource = r.rows
                    this.page.total = r.total
                })
            },
            showEdit(row){
                this.showe = true
                if(row){
                    this.fobj = row
                    editor.txt.html(row.note);
                    showAttach("imgctn",row.img)
                }else{
                    this.fobj = {}
                    editor.txt.html("");
                    showAttach("imgctn","")
                }

            },
            submit1(){
                this.$refs.fobjform1.validate((isValidate, model, errors) => {
                    if(isValidate){
                        this.save()
                    }
                })
            },
            save(){
                this.fobj.btype = 1
                this.fobj.table = this.tbname;this.fobj.ndate = null
                this.fobj.note = editor.txt.html();
                if(userinfo.roletype == '3'){
                    this.fobj.sid = userinfo.sid
                }
                this.fobj.shop = (this.shoplist.find((item) => item.value == this.fobj.sid)).label
                ajaxFormUploadFile((rimg)=>{
                    this.fobj.img = rimg
                    ajaxCallback("save",this.fobj,(rid) => {
                        console.log(rid)
                        this.showe = false
                        this.refreshData()
                    });
                })

            },
            cancel(){
                this.showe = false
            },
            del(id){
                ElementPlus.ElMessageBox.alert('确认删除吗?', '提示!', {
                    confirmButtonText: '确认',
                    callback: (action) => {
                        ajaxCallback1("delete",{table: this.tbname, id: id},(r) => {
                            this.refreshData()
                        });
                    }
                })
            },
            showStable(row){
                this.showt = true
                this.sobj2.pid = row.id
                this.pobj = row
                this.refreshData2()
            },
            toReset2(){
                var pid = this.pobj && this.pobj.id
                this.sobj2 = pid != null ? { pid: pid } : {}
                this.selectedKeys2 = []
                this.refreshData2()
            },
            refreshData2(){
                let s = this.sobj2
                s.table = this.tbname2
                s.page = this.page2.current
                s.limit = this.page2.limit
                s.type = '1'
                this.loading2 = true
                ajaxCallback1('listPage',s,(r)=>{
                    this.loading2 = false
                    this.dataSource2 = r.rows
                    this.page2.total = r.total
                })
            },
            showEdit2(row){
                this.showe2 = true
                if(row){
                    this.fobj2 = row
                    //editor2.txt.html(row.note);
                    //showAttach("imgctn",row.img)
                }else{
                    this.fobj2 = {}
                    //editor2.txt.html("");
                }

            },
            submit2(){
                this.$refs.fobjform2.validate((isValidate, model, errors) => {
                    if(isValidate){
                        this.save2()
                    }
                })
            },
            save2(){
                this.fobj2.table = this.tbname2
                //this.fobj2.note = editor2.txt.html()
                this.fobj2.pid = this.pobj.id
                this.fobj2.username = userinfo.username
                this.fobj2.uid = userinfo.id
                this.fobj2.type = '1'
                ajaxCallback1("save",this.fobj2,(rid) => {
                    console.log(rid)
                    this.showe2 = false
                    this.refreshData2()
                });
            },
            cancel2(){
                this.showe2 = false
            },
            del2(id){
                ajaxCallback1("delete",{table: this.tbname2, id: id},(r) => {
                    this.refreshData2()
                });
            },
        },
    };
    const app = Vue.createApp(App);
    for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
        app.component(key, component)
    }
    app.use(ElementPlus,{
        locale: ElementPlusLocaleZhCn,
    });
    app.mount("#app");
</script>
<script type="text/javascript" src="__PUBLIC__/weditor/wangEditor.js"></script>

<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.config.uploadImgShowBase64 = false;   // 使用 base64 保存图片
    editor.config.uploadImgServer = _editorUpload;
    editor.config.uploadVideoServer = _editorUploadVideo;
    editor.config.uploadFileName = 'file';
    editor.config.uploadVideoName = 'file';
    editor.config.zIndex = 0;
    editor.create()



    /*var editor2 = new E('#editor2');
    editor2.config.uploadImgShowBase64 = false;   // 使用 base64 保存图片
    editor2.config.uploadImgServer = _editorUpload;
    editor2.config.uploadVideoServer = _editorUploadVideo;
    editor2.config.uploadFileName = 'file';
    editor2.config.uploadVideoName = 'file';
    editor2.config.zIndex = 0;
    editor2.create()*/
</script>
</html>